#att9KnVSSmHaLJNUm{
    max-width: 300px;
    max-height: fit-content;
    overflow: hidden;
}

#att9KnVSSmHaLJNUm img{
    width: 400px;
    height: 400px;
    margin: -15px 0 0 -50px;

}

#atttxEgUknSdwDjme{
    max-height: 600px;
    max-width: fit-content;
    overflow: hidden;
}

#atttxEgUknSdwDjme img{
    width: 310px;
    height: 390px;

}